@use '../../../../node_modules/@zero-tech/zui/styles/colors';
@use '../../../../node_modules/@zero-tech/zui/styles/typography';
@use '../../../../node_modules/@zero-tech/zui/styles/animations';

.Dropdown {
	position: relative;
	display: flex;
	align-items: flex-end;
}

.Drawer {
	position: absolute;
	top: calc(100%);
	left: 50%;
	width: 14rem;
	background: colors.$purple-10;
	border: 1px solid colors.$bossanova;
	transform: translateX(-50%);
	z-index: 10;
	overflow: hidden;
	padding: 0.5rem 0;
}

.Drawer li {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem 0 0.5rem 1rem;
	cursor: pointer;

	transition: text-shadow animations.$time-short ease-in-out,
		font-weight animations.$time-short ease-in-out;

	&:hover {
		text-shadow: colors.$text-glow-white;
	}
}

.Selected {
	background: rgba(82, 87, 255, 0.05) !important;
}

.Selected::before {
	opacity: 0 !important;
}
