@use '../../../node_modules/@zero-tech/zui/styles/theme';
@use '../../../node_modules/@zero-tech/zui/styles/typography';

.Container {
	.Content {
		margin-top: 2rem;

		hr {
			margin: 1.5rem 0;
			color: theme.$color-greyscale-6;
		}
	}
}
