@import '../../../../styles/breakpoints';

.Form {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	.Grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 1.5rem;

		> button {
			padding: 0;
		}

		@include container-breakpoint(500) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	label {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.Markdown {
		> div {
			border-radius: 0.5rem !important;
		}

		[class*='wmde-markdown-color'] {
			opacity: 0;
			-webkit-user-select: none;
		}

		[class*='w-md-editor-text-input'] {
			-webkit-text-fill-color: unset;
		}

		[class*='w-md-editor'] {
			padding-bottom: 0;
		}

		[class*='editor-toolbar'] {
			padding: 0;
			border-radius: 0 0 0.5rem 0.5rem;

			> ul:first-child {
				height: auto !important;
				padding: 0.25rem;
			}
		}
	}
}

.Header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	h2 {
		font-size: 1.125rem;
		margin: 0;
	}

	span {
		font-size: 0.75rem;
		color: var(--color-greyscale-11);
	}

	> div {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

.HelpIcon {
	color: var(--color-greyscale-11);
}

.Action {
	display: flex;
	justify-content: center;
}
