@import '../../../styles/breakpoints';
@import '../../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../../node_modules/@zero-tech/zui/styles/_typography.scss';

.Form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;

	hr {
		margin: 1.5rem 0 0.5rem 0;
		border: 0.05rem solid var(--color-greyscale-7);
	}

	.Section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.Title {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			h2 {
				font-size: 1.125rem; // 18px
				margin: 0;
			}

			span {
				display: block;
				font-size: 0.75rem; // 12px
				color: $grey-lighter-2;
			}
		}

		&Content {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			column-gap: 1.5rem;
			row-gap: 1.5rem;

			@include container-breakpoint(600) {
				grid-template-columns: repeat(2, 1fr);
			}

			> * {
				padding: 0;
				margin: 0;
			}
		}

		.SubmitSection {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.MarkdownEditorCol {
		margin-top: 1.5rem;
		grid-column: 1 / -1;

		[class*='w-md-editor-toolbar '] {
			height: 7.5rem;
		}

		@include container-breakpoint(600) {
			[class*='w-md-editor-toolbar '] {
				height: fit-content;
			}
		}

		> *:first-child {
			> *:last-child {
				width: unset;
			}
		}
	}
}
