@use '../../../../../node_modules/@zero-tech/zui/styles/colors';
@use '../../../../../node_modules/@zero-tech/zui/styles/typography';

.Container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;

	.ValueLabel {
		flex: 0;
		font-weight: typography.$font-weight-bold;
		font-size: typography.$size-tiny;
		line-height: 1rem;

		&.ValueLabelLeft {
			color: colors.$blue;
		}

		&.ValueLabelRight {
			color: colors.$red-500;
		}
	}

	.Progressbar {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 0.5rem;
		margin: 0 0.5rem;
		flex: 1;
		border-radius: 0.5rem;
		overflow: hidden;

		&.Empty {
			// todo: update zui version
			// border: 1px solid colors.$grey-dark;
			border: 1px solid #3b3b3b;
		}

		.ProgressbarItem {
			height: 100%;
			opacity: 0.75;

			&.ProgressbarItemLeft {
				background: colors.$azure;
			}

			&.ProgressbarItemRight {
				background: colors.$purpink;
			}
		}
	}
}
