@mixin table-padding {
    td, th {
        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;
        }
    }
}

@mixin sticky-header {
    thead {
        position: sticky;
        top: 0;
        background-color: var(--color-primary-1);
        z-index: 5;
    }
}