@use '../../../node_modules/@zero-tech/zui/styles/colors';
@use '../../../node_modules/@zero-tech/zui/styles/typography';
@use '../../../node_modules/@zero-tech/zui/styles/dimensions';

.Loading {
	justify-content: center;
	margin-top: 2rem;
	padding: 2rem 0;
}

.Container {
	padding: 1rem 0;

	.Wrapper {
		.Title {
			padding: 0.5rem 0;
			font-size: 2.25rem;
			font-weight: typography.$font-weight-bold;
			line-height: 2.75rem;

			@media only screen and (max-width: dimensions.$breakpoint-mobile-xl) {
				font-size: typography.$size-large;
				line-height: 1.875rem;
			}
		}

		.Section {
			margin-top: 3rem;

			&Title {
				display: flex;
				align-items: center;
				font-size: #{typography.$size-medium}rem; // todo- fix variable in zui
				font-weight: typography.$font-weight-bold;
				line-height: 1.375rem;

				> span {
					margin-left: 0.3125rem;
				}
			}

			&Content {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 1.5rem;
				row-gap: 1.5rem;
				padding: 1.5rem 0;

				@media only screen and (max-width: #{dimensions.$breakpoint-mobile-l}) {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}
	}

	.TokenError {
		margin-top: 3rem;
		font-weight: typography.$font-weight-bold;
		text-align: center;
	}
}

:global(.zui-tooltip__content) {
	font-size: typography.$size-default;
	font-weight: typography.$font-weight-regular;
}
