@import '../../styles/breakpoints';
@import '../../../node_modules/@zero-tech/zui/styles/_typography.scss';
@import '../../../node_modules/@zero-tech/zui/styles/_colors.scss';
@import '../../../node_modules/@zero-tech/zui/styles/_dimensions.scss';

.Container {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	gap: 2rem;

	.Header {
		padding: 0;
		margin: 0;
		font-size: 2.25rem;
		font-weight: $font-weight-bold;
		line-height: 2.72rem;

		@media only screen and (max-width: $breakpoint-mobile-xl) {
			font-size: $size-large;
			line-height: 1.875rem;
		}
	}

	.Content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1.5rem;

		gap: 1.5rem;

		.Loading {
			justify-content: center;
		}

		.LabelText {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.5rem;

			span {
				font-size: $size-small;
				text-align: center;
				line-height: 1.5rem;
				max-width: 31.75rem;

				@include container-breakpoint(400) {
					font-size: $size-default;
				}

				&[data-variant='warning'] {
					color: $red-100;
					margin-bottom: 0;
					max-width: 100%;
				}
			}
		}

		.Section {
			&Title {
				display: flex;
				align-items: center;
				font-size: $size-medium; // todo- fix variable in zui
				font-weight: $font-weight-bold;
				line-height: 1.375rem;

				> span {
					margin-left: 0.3125rem;
				}
			}

			&Content {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 1.5rem;
				row-gap: 1.5rem;
				padding: 1.5rem 0;

				@media only screen and (max-width: $breakpoint-mobile-l) {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}

		@media only screen and (max-width: $breakpoint-mobile-xl) {
			margin-top: 0;
		}
	}
}

:global(.zui-tooltip__content) {
	font-size: $size-default;
	font-weight: $font-weight-regular;
}
