@use '../../../../node_modules/@zero-tech/zui/styles/colors';
@use '../../../../node_modules/@zero-tech/zui/styles/borders';
@use '../../../../node_modules/@zero-tech/zui/styles/dimensions';
@use '../../../../node_modules/@zero-tech/zui/styles/typography';

.Card {
	grid-column: 1 / -1;
	margin-top: 8px;
	margin-bottom: -12px;
	padding: 16px;
	border: 1px solid colors.$grey-dark;
	border-radius: borders.$radius-primary;
	cursor: pointer;

	.Title {
		font-size: typography.$size-large;
		font-weight: typography.$font-weight-bold;
		line-height: 1.85rem;

		@media only screen and (max-width: #{dimensions.$breakpoint-mobile-xl}) {
			font-size: typography.$size-default;
			line-height: 1.5rem;
		}
	}

	.Description {
		margin-top: 0.5rem;
		padding: 0;
		font-size: typography.$size-default;
		font-weight: typography.$font-weight-regular;
		line-height: 1.5rem;
		color: colors.$grey-lighter-3;

		@media only screen and (max-width: #{dimensions.$breakpoint-mobile-xl}) {
			font-size: typography.$size-tiny;
			line-height: 1rem;
		}
	}

	.Buttons {
		display: flex;
		gap: 0.5rem;
		margin-top: 1rem;

		span {
			font-size: typography.$size-tiny;
			font-weight: typography.$font-weight-bold;
			color: colors.$grey-lighter-3;
			border: 1px solid colors.$grey-dark;
			border-radius: 1000px;
			padding: 0.5rem 1rem;

			&.Closing {
				&[status='warning'] {
					color: colors.$red-100;
				}

				&[status='error'] {
					color: colors.$red-300;
				}
			}

			&.Status {
				text-transform: capitalize;
			}
		}
	}
}
