@use '../../../node_modules/@zero-tech/zui/styles/dimensions';

.Container {
	.Stats {
		display: flex;
		gap: 1rem;
		margin: 1rem 0 2rem;

		> * {
			flex: 1;
		}

		.Dao {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			img {
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 0.5rem;
			}

			h1 {
				font-size: 1.5rem;
			}
		}
	}

	.TabsNav {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media only screen and (min-width: dimensions.$breakpoint-tablet-s) {
			flex-direction: row;
			justify-content: space-between;
		}

		> div {
			padding: 0.5rem 0;
		}

		> button {
			margin-left: auto;
		}
	}

	.Content {
		margin-top: 1rem;
	}
}
