@import '../../../../styles/table';

.Votes {
	@include table-padding;
	@include sticky-header;

	h2 {
		font-size: 1.125rem;
		margin: 0;
	}

	.LoadMoreButton {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 1.5rem;
	}
}
