.Footer {
    box-sizing: border-box;
    position: sticky;
    bottom: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    z-index: 100;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    gap: 1.5rem;

    .Button {
        flex: 1;
    }

    .Vote {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;

        span {
            font-weight: bold;
            font-size: 0.75rem;
        }
    }

    background-color: var(--color-primary-2);
}