@import '../../../styles/breakpoints';

.Container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.Header {
		display: inherit;
		flex-direction: inherit;
		gap: inherit;

		.Stats {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			@include container-breakpoint(500) {
				flex-direction: row;

				> * {
					flex: 1;
				}
			}

			.Dao {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				flex: 2;

				h1 {
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 0;
				}

				.Logo {
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 0.5rem;
				}

				h1 {
					font-size: 1.5rem;
				}
			}
		}

		.TabsNav {
			border-bottom: 1px solid var(--color-greyscale-transparency-7);
			padding-bottom: 1rem;

			[class*='_List'] {
				flex-direction: column;
				gap: 0.5rem;

				@include container-breakpoint(500) {
					flex-direction: row;
					justify-content: space-between;
				}

				@include container-breakpoint(650) {
					justify-content: flex-start;
					gap: 2rem;
				}
			}
		}
	}
}
