@use '@zero-tech/zui/styles/colors';

.Container {
	> table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}

.Row {
	&:hover {
		background: #{colors.$purple-10};
	}

	> td {
		&:first-of-type {
			padding-left: 0.5rem;
		}

		&:last-of-type {
			padding-right: 0.5rem;
		}
	}

	.Dao {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.Image {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2.5rem;
			width: 2.5rem;

			img {
				width: 100%;
				height: 100%;
			}

			border-radius: 0.5rem;
		}

		.Content {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;

			.Symbol {
				font-size: 0.85rem;
				color: colors.$grey-lighter-2;
			}
		}
	}

	.Right {
		margin-left: auto;
		text-align: right;
	}

	.Center {
		margin: 0 auto;
		text-align: center;
	}
}
