@import '../../../styles/breakpoints';

.DaoAssetsTable {
	margin-top: 1rem;

	.ControlsWrapper {
		display: none;

		@include container-breakpoint(500) {
			display: flex;
			justify-content: flex-end;
		}
	}

	.DaosAssetsView {
		position: relative;

		.Grid {
			grid-template-columns: 1fr;

			@include container-breakpoint(300) {
				grid-template-columns: repeat(auto-fit, minmax(32%, 0.5fr));
			}
		}
	}

	.Message {
		margin-top: 3rem;
	}
}
