@import '../../../styles/breakpoints';
@import '../../../styles/table';

.DaoAssetsTable {
	@include sticky-header;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	.ControlsWrapper {
		display: none;

		@include container-breakpoint(500) {
			display: flex;
			justify-content: flex-end;
		}
	}

	.DaosAssetsView {
		position: relative;

		.Grid {
			grid-template-columns: 1fr;

			@include container-breakpoint(300) {
				grid-template-columns: repeat(auto-fit, minmax(32%, 0.5fr));
			}
		}
	}

	.Message {
		margin-top: 3rem;
	}

	.FlexWrapper {
		.WarningContainer {
			display: flex;
			justify-content: flex-start;

			.Warning {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				a {
					display: flex;
					gap: 0.25rem;
					align-items: center;
					color: var(--color-secondary-11);
				}
			}
		}
	}
}
