@use '../../../../node_modules/@zero-tech/zui/styles/colors';
@use '../../../../node_modules/@zero-tech/zui/styles/typography';
@use '../../../../node_modules/@zero-tech/zui/styles/dimensions';

.Direction span {
	font-weight: typography.$font-weight-bold !important;

	&.SnapshotDirection {
		color: #6b6b6b; // todo - color variables
	}
}

.Container {
	margin: 1rem 0;
	padding: 1rem 0;
	border-top: 1px solid colors.$mine-shaft;

	.Title {
		font-size: typography.$size-medium;
		font-weight: typography.$font-weight-bold;
		line-height: 1.375rem;
	}

	.Content {
		margin: 1rem 0;

		.HistoryHeader {
			display: flex;
			align-items: center;
			gap: 1.5rem;
			padding: 1rem 0;

			> span {
				min-width: 9.375rem;
				flex: 0;
				font-size: typography.$size-tiny;
				font-weight: typography.$font-weight-bold;
				color: colors.$grey-lighter-2;
				line-height: 1rem;
				text-align: right;

				&.Address {
					flex: 1 1;
					text-align: left;
				}
			}

			@media only screen and (max-width: dimensions.$breakpoint-mobile-xl) {
				display: none;
			}
		}

		.Histories {
			margin: 16px 0;

			.HistoryRow {
				display: flex;
				align-items: center;
				gap: 1.5rem;
				padding: 0.75rem 0;

				> span {
					display: flex;
					justify-content: flex-end;
					min-width: 9.375rem;
					flex: 0;
					font-size: typography.$size-small;
					font-weight: typography.$font-weight-regular;
					line-height: 1rem;
					text-align: right;

					> strong {
						display: none;
					}

					&.Address {
						flex: 1 1;
						justify-content: flex-start;
					}
				}

				@media only screen and (max-width: dimensions.$breakpoint-mobile-xl) {
					flex-direction: column;
					gap: 1rem;
					margin-bottom: 0.5rem;
					padding: 1rem 1.5rem;
					border: 1px solid #3b3b3b; // todo - colors.$grey-dark
					border-radius: 1rem;

					> span {
						width: 100%;
						justify-content: space-between !important;

						> strong {
							display: block;
						}
					}
				}
			}
		}

		.Empty {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: typography.$size-small;
			font-weight: typography.$font-weight-regular;
			line-height: 1.5rem;
			color: colors.$grey-lighter-2;
			padding: 2.25rem 0;
		}
	}
}
