.Container {
	.Table {
		margin-top: 1rem;

		> table {
			border-collapse: collapse;
			border-spacing: 0;

			tr {
				> th {
					padding: 1rem 0.5rem;

					&:first-of-type {
						padding-left: 0.5rem;
					}

					&:last-of-type {
						padding-right: 0.5rem;
					}
				}
			}
		}
	}
}

.Empty {
	margin-top: 2rem;
	text-align: center;
	font-style: italic;
}
