@use '../../../node_modules/@zero-tech/zui/styles/colors';

.Empty {
	margin-top: 2rem;
	text-align: center;
	font-style: italic;
}

.Container {
	> table {
		border-collapse: collapse;
		border-spacing: 0;

		tr {
			> th {
				padding: 1rem 0.5rem;
		
				&:first-of-type {
					padding-left: 0.5rem;
				}
		
				&:last-of-type {
					padding-right: 0.5rem;
				}
			}
		}
	}
}

.Row {
	cursor: pointer;

	&:hover {
		background: #{colors.$purple-10};
	}

	> td {
		padding: 0 0.5rem;

		&:first-of-type {
			padding-left: 0.5rem;
		}

		&:last-of-type {
			padding-right: 0.5rem;
		}
	}

	.Right {
		text-align: right;
		margin-left: auto;
	}

	.Title {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.Status {
		width: 12rem;
		text-transform: capitalize;
	}

	.Timer {
		width: 12rem;

		&.Concluded {
			color: colors.$grey-lighter-2;
		}

		&.Warning {
			color: colors.$red-100;
		}

		&.Error {
			color: colors.$red-300;
		}
	}

	.Votes {
		max-width: 5rem;
		width: 5rem;
		margin-left: auto;
		text-align: right;

		* {
			margin-left: auto;
		}

		> p {
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5rem;
			padding-bottom: 0;
		}
	}
}
